.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap:30px;
}

.flag{
    height: 150px;
    width: 200px;
    border-radius: 2%;
    display: block;
    margin: auto;
    text-align: center;
}

#countryTitle, #populationTitle{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.flag:hover{
    transform: scale(1.1);
}

form{
    border: 2px solid black;
    border-radius: 2%;
    padding: 10px;   
}




